.points {
    width: 40px;
}

.inline{
    display: inline-block;
}

.table{
    display: table;
}

.table-row{
    display: table-row;
}

.table-cell{
    display: table-cell;
    text-align: center;
}

.cell-name-right, .cell-name-left{
    width: 100px;
    vertical-align: top;
}

.cell-name-left{
    text-align: right;
}

.cell-name-right {
    text-align: left;
}

.hidden{
    visibility: hidden;
}